<%- include('../../layouts/ejs/head') %>

<link rel="stylesheet" href="/css/product.css" />
<link rel="stylesheet" href="/css/forms.css" />
</head>

<body>
    <%- include('../../layouts/ejs/navigation') %>

    <main>
        <form class="product-form" action="/graphql" method="POST">
            <div class="form-control">
                <label for="query"><b>Query</b></label>
                <div>(by <b>title</b>, <b>description</b>, <b>image</b>, <b>price</b> separated by comma)</div>
                <input type="text" name="query" id="query" required />
            </div>

            <button class="btn" type="button" id="submit-query">Submit Query</button>
        </form>
    </main>

    <%- include('../../layouts/ejs/end') %>