<%- include('../../layouts/ejs/head') %>
</head>

<body>
    <%- include('../../layouts/ejs/navigation') %>
    <main>
        <h1>Nothing there!</h1>
    </main>
    <%- include('../../layouts/ejs/end') %>