<% if (isLoggedIn) { %>
<form action="<%= mongo ? '/mongo/cart' : '/cart' %>" method="POST">
  <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
  <input
    type="hidden"
    name="productId"
    value="<%= mongo ? product._id : product.id %>"
  />
  <button class="btn" type="submit">Add to Cart</button>
</form>
<% } %>
