<% if (errorMessage) { %>
<div class="user-message user-message__error"><%= errorMessage %></div>
<% } %> <% if (successMessage) { %>
<div class="user-message user-message__success"><%= successMessage %></div>
<% } %>
